<ion-view view-title="Favorites" class="favorites-page">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="product in favorites.data">
        <img ng-src="{{product.photos}}" />
        <h2>{{product.name}}</h2>
        <p>{{product.tagline}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="favorites.removeFavorite(product._id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
